/*
 *= require_tree .
 *= require_self
 */


/*-----------General Styles------------------------*/

body {
  background-color: #e8eced;
  font-family: 'Lato', sans-serif;
}

.content {
  max-width: 950px;
  margin: 20px auto;
}

.header {
  background-color: #35262d;
  height: 100px;
  padding: 20px;
  border-radius: 5px;
}

.header a,
.header a.visited {
  color: #a4b7bb;
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
}

.header h1 {
  font-size: 3em;
}

.title {
  float: left;
}

.cats {
  padding: 20px;
}


/*-----------Text Styles---------------------------*/

h2, h3, p {
  color: #35262d;
}

.alert,
.notice {
  color: #76A0B0;
}


/*-----------Nav Styles----------------------------*/

nav {
  float: right;
}

nav ul {
  list-style: none;
}

nav li {
  border: 1px dashed #e8eced;
  border-radius: 5px;
  padding: 4px 6px;
  display: inline-block;
  margin-left: 10px;
}

#nav-links a {
  color: #e8eced;
}